#audio-btn {
    margin: 0.5rem 0;
    cursor: pointer;
    background: var(--background);
    border-radius: 50%;
    transition: all 0.3s ease-in;
    box-shadow: 4px 4px 8px #0000005c,
        -10px -10px 10px var(--bg-transparent);
}

#audio-btn:active {
    box-shadow: inset 10px 10px 10px #0000005c,
        inset -10px -10px 10px var(--bg-transparent);
}

#pause-btn>rect {
    fill: var(--background);
    stroke: var(--btn);
    stroke-width: 2px;
}

#pause-btn {
    visibility: hidden;
}

/* 
#play-button:hover path {
    fill: var(--btn-hover);
}

#play-button:active path {
    fill: var(--btn-active);
} */